# Felipe Castillo
# Exploring Data
# Data Mining
# 03/17/2022

In [50]:
import pandas as pd 
import os 
import numpy as np

#Change path to week one folder for DSC-550
#Current directory in documents
os.chdir('C:\DataScience_DSC_550\Week1')

In [134]:
# 1 Load the dataset as a Pandas data frame.
#File name set mapped to file directory.
VGS_df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

In [6]:
# 2 Display the first ten rows of data.
#head display top
#tail displays bottom
VGS_df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# 3 Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?
#The first is the number of rows
#The second is the number of colums
VGS_df.shape

(16719, 17)

In [119]:
#total number of elements
VGS_df.size

267504

In [111]:
# 4 Find the top five games by critic score
#Dropping NAN values float converstion will error
VGS_TopBy_CS = VGS_df.dropna(subset=['Critic_Score'])

#Finding the top 5 games value
VGS_TopBy_CS.nlargest(5,['Critic_Score'])

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,97.0,50.0,8.2,3994.0,Rockstar North,M

In [107]:
# 5 Find the number of video games in the data frame in each genre.
#Grouping by genre getting count per instances
VGS_df.groupby('Genre')['Name'].count()

Genre
Action          3370
Adventure       1303
Fighting         849
Misc            1750
Platform         888
Puzzle           580
Racing          1249
Role-Playing    1500
Shooter         1323
Simulation       874
Sports          2348
Strategy         683
Name: Name, dtype: int64

In [150]:
# 6 Find the first five games in the data frame on the SNES platform.
#Get the values of platform eqaul to SNES
#Getting head 5
VGS_df[VGS_df['Platform'] == 'SNES'].head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Calculated_NA_Golbal_Percentage
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN,62.01
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN,56.78
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN,46.88
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN,40.41
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN,39.21

In [113]:
# 7 Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.
#Grouping by publisher targeting global sales
#Taking the sum then trageting the largest
VGS_df.groupby('Publisher')['Global_Sales'].sum().nlargest(5)

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

In [135]:
# 8 Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.
#Dividing NA sales divided by Global sales
#Turned into a percentage 
#Rounded to the second decmial place
VGS_df['Calculated_NA_Golbal_Percentage'] = (VGS_df['NA_Sales'].astype(float)  / VGS_df['Global_Sales'].astype(float) * 100).round(2)
VGS_df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Calculated_NA_Golbal_Percentage
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.12
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.27
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.14
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.64
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.93

In [48]:
# 9 Find the number NaN entries (missing data values) in each column.
#taking sums of nulls in DF
VGS_df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [68]:
# 10 Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

#Replace all strings with NAN values 
#if value contains string replace with nan
#side note - AZ for caps az for lower case words
#value inside user_score replaced 
#replace all string values regradless of verbage, and replace with NAN
VGS_df['User_Score'] = VGS_df['User_Score'].replace(r'([A-Za-z])' , np.NaN , regex = True)

#Overwrite the user NAN score with median score
VGS_df['User_Score'] = VGS_df['User_Score'].replace( np.NaN , VGS_df['User_Score'].median()) 
VGS_df['User_Score'].head(10)

0      8
1    7.5
2    8.3
3      8
4    7.5
5    7.5
6    8.5
7    6.6
8    8.4
9    7.5
Name: User_Score, dtype: object